#identité {
    background: #2574a9;
}
#Identité {
    background: #2574a9;
}
#Adresse {
    background: #9a12b3;
}
#adresse {
    background: #9a12b3;
}
#Règlement {
    background: #db0a5b;
}
#règlement {
    background: #db0a5b;
}